body{
	margin-left: -0px;
	margin-right: 0px;
	margin-top:   0px;
	font-family: "Myriad Pro";
}

.main-column{
	width: 770px;
	/*http://www.w3schools.com/css/tryit.asp?filename=trycss_align_container*/
	margin-left: auto;
	margin-right: auto;
}

header{
	/*font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L",
	 "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: "Myriad Pro";
	background-color: #f3ae91;
	height:    70px;
	width: 	   100%;
	min-width: 100%;
}

header  a{
	color: 				white;
	text-decoration: 	none;
}

.right-nav{
	margin-top:  27px;
	margin-left: 20px;
	font-size:   21px;
	display:     inline-block;
}

.right-nav > div{
	height: 100%;
}

.left-part-navbar{
	margin-top: -52px;
	float:       right;
	font-size:    10px;
	display:     inline-block;
	height: 100%;
}

.left-part-navbar > div{
	display: inline-block;
	border-left: 1px solid #f1b79f;
	padding-top: 46px;
	padding-bottom: 0px;
	height: 70px;
}

.left-part-navbar > div:hover{
	background-color: #e7936e;
}

.left-part-navbar a{
	margin-right: 7px;
	margin-left:  26px;
}

.left-part-navbar > div:last-child{
	padding-left: 34px;	
	padding-right: 15px;	
}

.left-part-navbar > div:first-child{
	padding-right: 9px;
}

.about{
	background-color: #17161d;
	color: #535067;
	margin-top: -14px;
	padding-top: 42px;
	height: 243px;
}

.about > p{
	padding-left:145px;
	padding-right: 145px; 
	font-size: 20px;
}

h1{
	color: #e89472;
	font-size:   26px;
}

h2{
	color: #e89472;
	font-size:   15px;
}

b{
	color: white;
}

button.more {
	color: #eb9f7f;
	font-size: 12px;
	border: 1px solid #eb9f7f;	
	background-color: #1e1d26; 
	height: 35px;
	margin-top: 30px;
}

.info{
	background-color: #24232d
}

.portfolio{

}

.portfolio-text{
	
}

.contact-me{
	background-color: #24232d;
}

.copyright{
	
}