body{
	margin-left: -0px;
	margin-right: 0px;
	margin-top:   0px;
	font-family: "Myriad Pro";
}

.main-column{
	width: 770px;
	/*http://www.w3schools.com/css/tryit.asp?filename=trycss_align_container*/
	margin-left: auto;
	margin-right: auto;
}

header{
	/*font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L",
	 "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: "Myriad Pro";
	background-color: #f3ae91;
	height:    70px;
	width: 	   100%;
	min-width: 100%;
}

header  a{
	color: 				white;
	text-decoration: 	none;
}

.right-nav{
	margin-top:  27px;
	margin-left: 20px;
	font-size:   21px;
	display:     inline-block;
}

.right-nav > div{
	height: 100%;
}

.left-part-navbar{
	margin-top: -52px;
	float:       right;
	font-size:    10px;
	display:     inline-block;
	height: 100%;
}

.left-part-navbar > div{
	display: inline-block;
	border-left: 1px solid #f1b79f;
	padding-top: 46px;
	padding-bottom: 0px;
	height: 70px;
}

.left-part-navbar > div:hover{
	background-color: #e7936e;
}

.left-part-navbar a{
	margin-right: 7px;
	margin-left:  26px;
}

.left-part-navbar > div:last-child{
	padding-left: 34px;	
	padding-right: 15px;	
}

.left-part-navbar > div:first-child{
	padding-right: 9px;
}

.about{
	background-color: #17161d;
	color: #535067;
	margin-top: -14px;
	padding-top: 42px;
	height: 243px;
}

.about > p{
	padding-left: 145px;
	padding-right: 145px; 
	font-size: 20px;
}

h1{
	color: #e89472;
	font-size:   26px;
}

h2{
	color: #e89472;
	font-size:   15px;
}

b{
	color: white;
}

.more {
	width: 70px;
	height: 35px;
	color: #eb9f7f;
	font-size: 11px;
	padding: 5px 4px 5px 4px;
	border: 2px solid #eb9f7f;	
	background-color: #1e1d26; 
	margin-top: 30px;
	display: block;
	border-radius: 3px; 
}

button#more_about_me{
	width: 110px;
}

.info{
	background-color: #24232d;
	color: #5c5b64;
	height: 251px;
}

.left-info{
	width: 325px;
	padding-left: 30px;
	padding-right: 30px;
	float: left; 
	display: inline-block;
	color: #5c5b64;
	background-color: #24232d;
}

.right-info{
	width: 295px;
	padding-left: 15px;
	padding-right: 75px;
	float: right; 
	display: inline-block;
	color: #5c5b64;
	background-color: #24232d;
}

.three-links a{
	font-size: 10px;
	text-decoration: none;
	color: white;
}

.portfolio{
	/*By unexpected cause between div.info and 
	div.portfolio exist distance in 16px, this
	considered here*/
	margin-top: -16px;
	background-color: #24232d;
	border-top: 1px solid #2d2c35;
	padding-top: 14px;
	height: 565px;
}

.portfolio-text{
	margin-top: 21px;
	color: #535067;
}

.portfolio-three-buttons{
	margin-top: 20px;
}

.portfolio-three-buttons button{
	width: 80px;
	height: 25px;
	border-radius: 3px;
	border: 0px solid white;
	background-color: #4b4a54;
	color: white;

	margin-right: 5px;
	margin-left: 5px;
}

.portfolio-three-buttons button:first-child{
	background-color: #eb9f7f;
	color: #1b1b1b;
}

.photos-faces{
	margin-top: 40px;
}

.circle-img{
	border-radius: 50%;
	
	width: 135px;
	height: 135px;
	border: 3px solid #36353f;
	padding: 3px 3px 3px 3px;
	margin-top: 30px;
	margin-left: 30px;
}

#face_1{
	background: url(images/face_1.png) no-repeat #24232d;
}

#face_2{
	background: url(images/face_2.png) no-repeat #24232d;
}

#face_3{
	background: url(images/face_3.png) no-repeat #24232d;
}

#face_4{
	background: url(images/face_4.png) no-repeat #24232d;
}

#face_5{
	background: url(images/face_5.png) no-repeat #24232d;
}

#face_6{
	background: url(images/face_6.png) no-repeat #24232d;
}

#face_7{
	background: url(images/face_7.png) no-repeat #24232d;
}

.contact-me{
	background-color: #24232d;
	text-align: center;
	margin-top: -18px;
	padding-top: 37px;
	border-top: 1px solid #2d2c35;
	color: #535067;
	height: 425px;
}

.contact-me input, textarea{
	border-radius: 2px;
	border: 1px solid #37373e;
	background-color: #24232d;
	color: #37373e;
	padding-left: 10px;
}

.contact-me input[type="text"]{
	width: 268px;
	height: 35px;
}

.contact-me input:first-child{
	margin-right: 30px;
}


.contact-me > div{
	width: 572px;
	margin-top: 40px;
	padding-left: 100px;
	padding-right: 100px;
}

.contact-me textarea {
	margin-top: 20px;
	resize: none;
	height: 134px;
	width: 100%;
}

.contact-me input[type="submit"]{
	width: 70px;
	height: 35px;
	border: 0px solid white;
	color: #1b1b1b;
	background-color: #eb9f7f;
	margin-top: 20px;
}

.copyright{
	height: 143px;
	margin-top: -12px;
	background-color: #17161d;
}

.copyright div{
	width: 370px;
	color: #37373e;
}

.copyright div:first-child{
	float: left;
	text-align: right;
	padding-right: 15px;
}

.copyright div:last-child{
	float: right;
	text-align: left;
	padding-left: 15px;
}