.banner{
	background: url(../images/banner.png) no-repeat #24232d;
	height: 414px;
}

.social{
	position: absolute;
	margin-left: 330px;
	margin-bottom: 20px;
	margin-top: 360px;
}

.social > div{
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: inline-block;
	float: left;
	border: 2px solid #eb9f7f;
	margin-right: 9px;
}

#facebook{
	background: url(../images/facebook.gif) no-repeat #24232d;
}

#twitter{
	background: url(../images/twitter.gif) no-repeat #24232d;
}

#linkedin{
	background: url(../images/linkedin.gif) no-repeat #24232d;
}