.copyright{
	height: 143px;
	margin-top: -12px;
	background-color: #17161d;
}

.copyright div{
	width: 370px;
	color: #37373e;
}

.copyright div:first-child{
	float: left;
	text-align: right;
	padding-right: 15px;
}

.copyright div:last-child{
	float: right;
	text-align: left;
	padding-left: 15px;
}