.info{
	background-color: #24232d;
	color: #5c5b64;
	height: 251px;
}

.left-info{
	width: 325px;
	padding-left: 30px;
	padding-right: 30px;
	float: left; 
	display: inline-block;
	color: #5c5b64;
	background-color: #24232d;
}

.right-info{
	width: 295px;
	padding-left: 15px;
	padding-right: 75px;
	float: right; 
	display: inline-block;
	color: #5c5b64;
	background-color: #24232d;
}

.three-links a{
	font-size: 10px;
	text-decoration: none;
	color: white;
}